@charset "ISO-8859-1";

/*painel principal*/
.panel-main {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
/*painel de cards*/
.panel-main-top {
	display: flex;
	justify-content: space-evenly;
	width: 1366px;
}

.ui-card {
	text-align: center !important;
	color: white !important;
	min-width: 250px !important;
	min-height: 140px !important;
	max-width: 250px !important;
	max-height: 140px !important;
}

.ui-card-body {
	padding: 0 !important;
}

.ui-card-content {
	padding: 0 !important;
}

.card-head {
	padding: 2px 0px;
	border-bottom: 2px solid black;
	font-weight: bold;
}

.card-body {
	padding: 6px 0px;
}

.card-body label {
	font-size: 40px;
	font-weight: bold;
}

.card-footer {
	display: flex;
	justify-content: center;
}

.card-footer div label {
	margin: 5px 8px;
	font-size: 14px !important;
}
/*grafico dunots projeto x consumo*/
.panel-main-center {
	display: flex;
	justify-content: space-evenly;
	width: 1366px;
	margin: 20px 0px;
}

.panel-charts-dunot-consumption {
	background: #F6F5F5;
	min-width: 480px;
	min-height: 350px;
	max-width: 480px;
	max-height: 350px;
	border: 2px solid black;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px 0;
}

.panel-charts-bar-logistics {
	background: #F6F5F5;
	min-width: 800px;
	min-height: 350px;
	max-width: 800px;
	max-height: 350px;
	border: 2px solid black;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px 0;
}

.panel-main-bottom {
	display: flex;
	justify-content: space-evenly;
	width: 1366px;
}

.panel-charts-line-cost{
	background: #F6F5F5;
	min-width: 800px;
	min-height: 350px;
	max-width: 800px;
	max-height: 350px;
	border: 2px solid black;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px 0;
}