@charset "ISO-8859-1";

/*painel principal*/
.panel-main {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
/*painel de cards*/
.panel-main-first {
	display: flex;
	justify-content: space-evenly;
	width: 1366px;
}

@media ( min-width : 1366px) {
	.panel-main-first {
		width: 1800px;
	}
	
	.panel-main-second {
		width: 1800px;
	}
}

.ui-card {
	text-align: center !important;
	color: white !important;
	min-width: 250px !important;
	min-height: 140px !important;
	max-width: 250px !important;
	max-height: 140px !important;
}

.ui-card-body {
	padding: 0 !important;
}

.ui-card-content {
	padding: 0 !important;
}

.card-head {
	padding: 2px 0px;
	border-bottom: 2px solid black;
	font-weight: bold;
}

.card-body {
	padding: 6px 0px;
}

.card-body label {
	font-size: 40px;
	font-weight: bold;
}

.card-footer {
	display: flex;
	justify-content: center;
}

.card-footer div label {
	margin: 5px 8px;
	font-size: 14px !important;
}
/*grafico dunots projeto x consumo*/

.panel-main-second {
	margin: 20px 0px;
}

.panel-charts-dunot {
	min-width: 480px;
	min-height: 320px;
	max-width: 480px;
	max-height: 320px;
	border: 2px solid black;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.panel-charts-dunot-head {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 450px;
	font-weight: bold;
}

.charts-dunot {
	width: 250px;
	overflow-y: auto;
}