@charset "utf-8";

body {
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
	color: #092834 !important;
}

header {
}

#content {
	padding: 0px 15px;
}

footer {
	padding: 5px 8px;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	background: #092834 !important;
	color: #FC600A
}

h1 {
	font-size: 24px;
	font-weight: 500px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
}

.title {
	color: #092834 !important;
	font-size: 24px !important;
	font-weight: bold;
	padding: 2px 25px;
	margin: 5px 0px;
	border-bottom: 1px solid #092834;
}